# MANIFEST.in
include README.md
include LICENSE
include _version.py
include requirements.txt

recursive-include MangaScourX *.py
recursive-include MangaScourX *.pyi

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.so
recursive-exclude * *.dll

prune tests
prune docs/_build